html{
    scroll-behavior: smooth;
}


body{
  background-color: #222629;
  font-size: 18px;
  /* padding: 0; */

}

h1{
  font-family: sans-serif;
  font-size: 50px;
  line-height: 1;
  padding: 25px 0px;
  text-align: center;
  /* color: #61892f */
  color: white;
  font-weight: bold;
}

h2{
  font-family: sans-serif;
  font-size: 32px;
  line-height: 1;
  padding: 15px;
  text-align: center;
  /* color: #86C232; */
  color: white;
  font-weight: bold;
}

h3{
  font-family: sans-serif;
  font-size: 22px;
  line-height: 1;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: bold;

}

.titles {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow:
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

.titles {
  text-align: center;
}

img{
  max-height:500px;
  width: 100%;
  margin: 0 auto;
  display: block;

}

p{
  color: #6B6E70;
  /* padding: 10px;
  border: 10px solid black; */
}

nav ul{
  list-style-type: none;
}

nav li{
  display: inline;
  padding-right: 20px;
}

/* nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
  align-self: center;
} */

nav a:hover{
  text-decoration: underline;
}

.active {
  background-color: #61892f;
  color: white;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  top:   -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;

}

.skip a:focus{
  top: 0px;
}


*:focus{
  border: 2px solid red;
}

header p{
  color: white;
  font-size: 24px;
  padding:10px 10px;
  text-align: center;
  font-family: 'Cutive Mono', monospace;
}


/* i{
  color: #61892f;
  /* height:50px; */
  /* width:98px;
  margin: 20px */
  /* align-content: center; */
/* } */ 

.dropbtn {
  background-color: #86C232;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.nav {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: cursive;
}

.nav a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.nav a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .nav {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #61892f;}


footer{
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom:10px;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100vw;
  position: fixed;
}


.index_container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3,1fr)


}


.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  width: 100vw;
  align-content: center;
}

.container div{
  border: 7px solid #61892f;
}





.nw_ord_pic{
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}
.nw_ordinance{
  /* max-height: 700px; */
  overflow: hidden;
  align-content: center;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}


.nw_ord_pic img {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}


/* .northwest_text{
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  align-self: center;
  justify-content: center;
} */


.firstgame img{


}

.firstgame{
  /* grid-column: 1 / span 2; */
  /* grid-row: 2 / span 1; */
  max-height: 700px;
  overflow: hidden;
  color:black;
  align-content: center;
}


.walter_camp{

  overflow: scroll;
  max-height: 600px;
}


.john_heismen{
  overflow: scroll;
  max-height: 600px;

}

.aa_stagg{
  overflow: scroll;
  max-height: 600px;
}

.fielding_yost{
  overflow: scroll;
  max-height: 600px;
}

.pop_warner{
  overflow: scroll;
  max-height: 600px;
}

.james_angell{
  overflow: scroll;
  max-height: 600px;
}

.yost_era{
  overflow: scroll;
  max-height: 600px;
}

.fritz_crisler{
  overflow: scroll;
  max-height: 600px;
}

.bo_schembechler{
  overflow: scroll;
  max-height: 600px;
}

.rose_bowl{
  overflow: scroll;
  max-height: 600px;
}

.jim_harbaugh{
  overflow: scroll;
  max-height: 600px;
}

.knute_rockne{
  overflow: scroll;
  max-height: 600px;
}

.race{
  overflow: scroll;
  max-height: 600px;
}

.pony_express{
  overflow: scroll;
  max-height: 600px;
}

.current_day{
  overflow: scroll;
  max-height: 600px;
}


@media screen and (min-width: 800px) {
  .container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  }


  .pony_express:hover{
    background-image: url("/images/money_bag.jpg");
  }












}







media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    /* -webkit-transition: default; /* Your code here - set to default setting */ */
    /* transition: default; /* Your code here - set to default setting */ */
    /* z-index: 1; */
    -webkit-transition: none;
    transition: none;
    z-index: 1;
  }

  .skip a:focus{
    top:0;
  }
}
