html{
    scroll-behavior: smooth;
}


body{
  background-color: #222629;
  /* background-color: black; */
  font-size: 18px;

}

h1{
  font-family: sans-serif;
  font-size: 50px;
  line-height: 1;
  padding: 25px 0px;
  text-align: center;
  /* color: #61892f */
  color: white;
  font-weight: bold;
}

h2{
  font-family: 'Cutive Mono', monospace;
  font-size: 32px;
  line-height: 1;
  padding: 15px;
  text-align: center;
  /* color: #86C232; */
  color: white;
  font-weight: bold;
}

h3{
  font-family: 'Cutive Mono', monospace;
  font-size: 22px;
  line-height: 1;
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: bold;

}


.titles {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow:
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

.titles {
  text-align: center;
}

img{
  max-height:600px;
  width: 95%;
  margin: 0 auto;
  display: block;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  padding-top: 10px;
}

p{
  /* color: #6B6E70; */
  color: white;
}

div p{
  margin: 20px;
}

nav ul{
  list-style-type: none;
}

nav li{
  display: inline;
  padding-right: 20px;
}


nav a:hover{
  text-decoration: underline;
}

.active {
  background-color: #61892f;
  color: white;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  top:   -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;

}

.skip a:focus{
  top: 0px;
}


*:focus{
  border: 2px solid red;
}

header p{
  color: white;
  font-size: 24px;
  padding:10px 10px;
  text-align: center;
  font-family: 'Cutive Mono', monospace;
}


.dropbtn {
  background-color: #86C232;
  color: black;
  font-weight: bold;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 12px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.nav {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: cursive;
}

.nav a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.nav a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .nav {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #61892f;}


footer{
  background-color: black;
  padding-top: 10px;
  padding-bottom:10px;
  text-align: center;
  /* bottom: 0;
  left: 0; */
  width: 100vw;
  position: relative;
}

footer p{
  color: white
}


.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  width: 100vw;
  align-content: center;
}

.container div{
  border: 7px solid #61892f;

}

.course_description{text-align: center;
font-family: 'Cutive Mono', monospace;
color: white;

}
.course_topics{
  text-align: center;
  font-family: 'Cutive Mono', monospace;
  color: white;

}

.walter_camp{

  overflow: scroll;
  max-height: 600px;
}
.john_heismen{
  overflow: scroll;
  max-height: 600px;

}

.aa_stagg{
  overflow: scroll;
  max-height: 600px;
}

.fielding_yost{
  overflow: scroll;
  max-height: 600px;
}

.pop_warner{
  overflow: scroll;
  max-height: 600px;
}

.james_angell{
  overflow: scroll;
  max-height: 600px;
}

.yost_era{
  overflow: scroll;
  max-height: 600px;
}

.fritz_crisler{
  overflow: scroll;
  max-height: 600px;
}

.bo_schembechler{
  overflow: scroll;
  max-height: 600px;
}

.rose_bowl{
  overflow: scroll;
  max-height: 600px;
}

.jim_harbaugh{
  overflow: scroll;
  max-height: 600px;
}

.knute_rockne{
  overflow: scroll;
  max-height: 600px;
}

.race{
  overflow: scroll;
  max-height: 600px;
}

.pony_express{
  overflow: scroll;
  max-height: 600px;
}

.current_day{
  overflow: scroll;
  max-height: 600px;
}

.flip-card-front {
border: 5px solid #86C232;
}

.flip-card-back p{
  text-align: center;
}

@media screen and (min-width: 600px) {
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }



  .container div{
    /* border: 7px solid #61892f; */
    width: 45%;
    margin-top: 2%;
  }

  .marchingband{
    background-image: url('../images/go_blue_banner.jpg');
    /* background-color: #fff;
    background-blend-mode: luminosity; */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 300px;
    width: 100vw;
  }

.flip-container{
  padding:25px
}


  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 400px;
  height: 400px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  /* justify-content: center; */
  margin: 0 auto;

}


/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #86C232;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #222629;
  color: white;
  transform: rotateY(180deg);
}
}
@media screen and (min-width: 1000px) {
  .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* padding: 2%; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  }

  .first_titles{
    overflow: hidden;
    border-right: .15em solid #86C232;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
      typing 3.5s steps(40, end),
      blink-caret .75s step-end 2;
  }

  @keyframes typing {
   from { width: 0 }
   to { width: 100%}
 }

 /* The typewriter cursor effect */
 @keyframes blink-caret {
   from, to { border-color: transparent }
   50% { border-color: #86C232; }
 }



.container div{
  /* border: 7px solid #61892f; */
  width: 28%;
}

/* .pony_express:hover {
  background-color: 'pink';
  background-image: url("../images/money_bag.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
} */




}





















media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    /* -webkit-transition: default; /* Your code here - set to default setting */ */
    /* transition: default; /* Your code here - set to default setting */ */
    /* z-index: 1; */
    -webkit-transition: none;
    transition: none;
    z-index: 1;
  }

  .skip a:focus{
    top:0;
  }
}
